# Lets UserFromTheDarkSide would be code-owner for procedures

user01/db/procedure/*.sql @UserFromTheDarkSide
user02/db/procedure/*.sql @likeSkywalker
user03/db/procedure/*.sql @UserFromTheDarkSide
